.header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.image {
    padding-left: 15px;
    max-height: 100%;
    max-width: 100%;
}

.headerText {
    font-size: 80px;
    margin: auto 0;
    font-weight: bold;
}

.headerDark {
    background-color: #323639;
    color: white;
}

.headerLight {
    color: black;
    background-color: white;
}