body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body>#root>div {
    height: 100vh;
}

.dark {
    background-color: #323639;
    color: white
}

.light {
    background-color: white;
    color: black
}

.themeButton {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
}

.buttonDark {
    background-color: #323639;
    color: white;
    border: 2px solid white;
}

.buttonLight {
    background-color: white;
    color: black;
    border: 2px solid #323639;
}